:root {
  /* colors */
  --bg_white: rgb(255, 255, 255);
  --bg_black: rgb(0, 0, 0);
  --bg_red: rgb(255, 56, 1);
  --bg_blue: rgb(70, 55, 184);
  --bg_yellow: rgb(255, 202, 0);
  --bg_green: rgb(0, 128, 0);
}

body {
  background-color: rgb(208, 204, 204);
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  padding-left: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
